/*!
 * Flat & Scroll - Multipurpose One Page Theme
 *
 * Copyright 2013
 * Created by: Carlos Alvarez
 * URL: https://www.basicoh.com
 * Designed and built based on Twitter Bootstrap.
 * Tags: multipurpose, agency theme, one page, single page, responsive, green, flat */



@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);


/* Global */

html {
    font-size: 62.5%;
}

body {
	background: #ecf0f1;
    color: #2d2d2d;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px; font-size: 1.5rem;
    font-weight: 300;
    line-height: 22px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    /* margin-top: 60px; */
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-style: normal;
}

p {
    margin: 0 10px 10px 0;
}

a {
	color: #F1F1F1;
	text-decoration: none;
}

a:hover {
	color: #F5F5F5;
	text-decoration: none;


}


sup, sub {
   	vertical-align: baseline;
	position: relative;
	top: -0.8em;
	font-size: 50%;
}
sub { top: 0.4em; }


/* Navigation */

#logo {
    float: left;
    margin: 12px 0 12px 18px;
}

#logo a {
	display: block;
}

#sidebar {
	background-color: #412D17;
    height: 120%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    z-index: 2;
}


#nav {
	margin-top: 80px;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav ul li {
	color: #F1F1F1;
	cursor: pointer;
    display: inline-block;
    line-height: 22px;
    filter: alpha(opacity=40);
    font-size: 16px; font-size: 1.6rem;
    font-style: normal;
    font-weight: 100;
    opacity: .4;
    padding: 8px 0 8px 15px;
    text-transform: uppercase;
    width: 70%;
}

#nav ul li.active {
	filter: alpha(opacity=100);
	opacity: 1;
}

#nav ul li.last {
    padding-right: 0px;
}

#nav li span {
	display: inline-block;
	font-size: 14px; font-size: 1.4rem;
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding-left: 10px;
	width: 0;
}

.btn-navbar {
    cursor: pointer;
    filter: alpha(opacity=40);
    float: left;
    margin: 20px 5px 10px;
    opacity: .4;
    padding: 7px 10px;
}

.btn-navbar .icon-bar {
	background-color: #F5F5F5;
    border-radius: 1px 1px 1px 1px;
    box-shadow: none;
    display: block;
    height: 2px;
    width: 18px;
}
/* Social Nav */

.navigation-social{
	margin-top: 20%;
}

.navigation-social ul{
	display: inline;

}
.navigation-social li{
	padding: 8px 0 8px;
	text-align:center;
    font-size: 25px;
}

.social{
  text-shadow: 1px 2px black;

  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

.social:hover{
  color: #222;

  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

.social:focus{
  color:#969696;
}

a.facebook{
/* color: #2e7dc6; */
}
a.instagram{
/* color: #92d6e1; */
}

/* Expanded Nav Styling */

.expanded #container {
    left: 100px;
    transform: translate3d(50px, 0px, 0px) scale3d(1, 1, 1);
}

.expanded #sidebar {
	width: 150px;
}

.expanded #nav li {
	width: 90%;
}
.expanded #nav li span {
	display: inline-block;
	height: auto;
	opacity: 1;
	overflow: visible;
	width: auto;
}

/*
.expanded #nav ul li.active:after {
    content: ">";
    display: block;
    margin-top: -21px;
    position: absolute;
    right: -3px;
    z-index: 2;
}
*/



/* General Styling */

#wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

#container {
	backface-visibility: hidden;
    left: 50px;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    transition: transform 500ms ease 0s;
    width: 100%;
}

.section {
	background-attachment: scroll;
	background-position: center top;
	margin-left: -50px;
	position: relative;
	padding: 70px 0 170px;
}

.section h2 {
	display: inline-block;
    font-size: 58px; font-size: 5.8rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 72px;
}

.section h4 {
    font-size: 23px; font-size: 2.3rem;
    font-weight: 500;
    line-height: 28px;
    margin: 0 0 20px;
    padding-bottom: 5px;
}

.section h5 {
    font-size: 19px; font-size: 1.9rem;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 20px;
    padding-bottom: 5px;
}

.section .title hr {
	border-color: white;
	border-width: 1px 0 0;
	margin-top: 50px;
	width: 100%;
}

.section .title .alt hr {
	border-color: #F1F1F1;
}

.section .desc {
	margin-top: 20px;
}

.section .content {
	margin-top: 75px;
}

.container-fluid {
	margin: 0 auto;
    padding-right: 80px;
    padding-left: 80px;
}

.control-group .controls input, .control-group .controls textarea {
	background: #F1F1F1;
	border-radius: 0px;
	min-height: 36px;
}

.control-group .controls input:focus, .control-group .controls textarea:focus {
	border-color: rgba(144, 144, 144, 0.9);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(144, 144, 144, 0.9);
}

.alert, .alert-error {
	border-radius: 0px;
}

.btn-default {
	background: none #F1F1F1;
    color: #151515;
    margin-top: 75px;
}

.btn-inverse {
	background: none #9B956A;
    color: #F1F1F1;
    margin-top: 25px;
}

.btn-default, .btn-inverse {
	border: none;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 14px; font-size: 1.4rem;
    font-weight: 300;
    line-height: 20px;
    padding: 8px 14px;
    text-align: left;
    text-transform: uppercase;
    width: 190px;
}

.btn-inverse span, .btn-default span {
	font-weight: 700;
}

.btn-inverse.alt, .btn-default.alt {
	text-align: right;
}

.btn-inverse i, .btn-default i {

}

.btn-inverse.alt i, .btn-default.alt i {
	float: left;
}

.read-more {
	cursor: pointer;
	font-weight: 500;
	margin-top: 20px;
	padding-right: 10px;
}

.table th, .table td {
    border-top: 1px solid #151515;
    line-height: 20px;
    padding: 10px 2px;
    text-align: left;
    vertical-align: top;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: rgba(60, 60, 60, 0.4);
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: rgba(75, 75, 75, 0.4);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Section 1 */

#section1 {
	background:#3f4575;

  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	/* -webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto; */
	background-repeat: no-repeat;
  padding: inherit;
  background-position-x: 40%;
  background-position-y: 45%;
}

#section1 .intro {
	/* margin: 130px 0; */
  padding-top: 1em;
  padding-bottom: 60em;
}

#section1 .thumb {
	display: none;
}

#section1 .intro h1 {

/*    font-size: 104px;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 85px;
    margin-left: -5px;
    color: rgba(77, 213, 180, 0.44);
	-webkit-text-stroke-width: 2px;*/
    font-size: 10rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 85px;
    color: white;
    text-align:center;

    /* margin-left: -5px;
    color: rgb(224, 165, 113);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(214, 79, 111);
    text-shadow: -4px 3px 0 rgba(233, 142, 43, 0.97),
				 -1px -1px 0px rgba(228, 42, 42, 0.82),
				 1px -2px 0 rgba(231, 61, 61, 0.84),
				 -2px 2px 0 #E62A2A, 1px 1px 0 #F32222; */
}

#section1 .intro h3 {
	color: #F1F1F1;
    font-size: 26px; font-size: 2.6rem;
    font-weight: 100;
    line-height: 28px;
    margin: 0px;
    width: 80%;

}

/* Section 2 */

#section2{
	background-color: rgb(243, 205, 148);
}

#section2 h2 {
  color: white;
}

#section2 h6 {
	padding:15px;
}
.toolbox-header {
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: -5px;
}

.toolbox-item {
	height: 20px;
}

.skill {
    text-align: center;
}

/* Section 3 */

#section3 {
	/* background-image:url(../img/albumtile.jpg); */
  background-color: #9bb2ff;
  color: #F1F1F1;
}

#section3 .title {
  padding-bottom: 2em;
}

#section3 .bit-track-button {
  /* display: none; */
  font-size: 1em;
  width: 100%;
}

.bit-logo #Shape {
  fill: #6b52ff;
}

#section3 h2 {
	/* margin-left: -5px; */
  padding-right: 100%;
}


#section3 .content img {
	max-width: 96%;
	padding: 2%;
	background-color: #F1F1F1;
}

#section3 .spotify {
	padding: 1.5% 0;
}

#section3 .spotify .widget {
  border:none;
  overflow:hidden;
  /* margin: 10px 0 10px 25%; */
}

#section3 .spotify .widget .detail {
  margin: auto;
  width: 70%;
}



/* Section 4 */

#section4 {
	background:#578B83;
	color: #F1F1F1;
	padding-bottom: 0px;
	padding: 70px 0 300px;
}

#section4 h4.intro {
	border-bottom: 1px solid #F1F1F1;
    height: 35px;
    margin-bottom: 18px;
}

#section4 .content {
	position: relative;
}

#section4 .content .alt {
	margin-top: 20px;
}

#section4 .content .alt h4 {
	line-height: 24px;
	margin: 0;
	padding-right: 20px;
}

#section4 .content .alt h4, #section6 .content .alt span {
	display: inline-block;
}

#section4 .content .alt h5 {
	display: inline;
    line-height: 20px;
    margin: 0;
    padding-right: 10px;
}

.contactLinks a:focus {
  color:#ffffff63;
}

#section4 .content .span4 {
	padding-right: 25px;
}

#section4 .btn-default {
    margin-top: 15px;
}

#section4 #footer {
	margin: 200px 0 40px;
}

#section4 #footer p {
	font-size: 14px; font-size: 1.4rem;
}

.mailStatus {
	font-weight: normal;
	line-height: 20px;
	font-size:23px;
	margin-top:25px;
	opacity:1;
}

.mailFade {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.mailHidden {
	opacity:0;
}

.error {
	color:rgb(253, 62, 62);
}

.sent {
	color:rgb(43, 221, 99);
}


/* Media Queries */


@media screen and (min-width: 1800px) {

	#section1 {
		/* padding: 300px 0 !important; */
	}
}


@media screen and (max-width: 1320px) {

	#section1 {
		/* background-size: 1350px auto; */
    background-position-y: 40%;
    background-position-x: 40%;
	}
}

@media screen and (min-width: 1200px) {


	#section1 {
		padding: 170px 0;
	}

	#section1 .intro h1 {
		font-family: 'Amatic SC', cursive;
font-size: 150px;
font-size: 12rem;
line-height: 140px;
letter-spacing: -2px;
text-align: right;

/* color: rgba(77, 213, 126, 0.44);
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgb(214, 79, 111);
text-shadow: 4px 3px 0 rgba(233, 142, 43, 0.97), -4px -3px 0 rgba(228, 42, 42, 0.82), 2px -1px 0 rgba(231, 61, 61, 0.84), -1px 1px 0 #E62A2A, 1px 1px 0 #F32222; */
	}

	#section1 .intro h3 {
	    font-size: 28px; font-size: 2.8rem;
	    line-height: 34px;
	    width: 90%;
	}

  #section1 .container-fluid {
    /*  margin: 0; */
    width: auto;
    padding-right: 5%;
  }

	.section h2 {
	    font-size: 67px; font-size: 6.7rem;
	}

	.container-fluid {
	    width: 1024px;
	}
}


@media screen and (max-width: 1199px) {

	.section{
		margin-left: -50px;
		padding: 70px 0 110px;
	}

	#section1 {
		/* background-size: 1270px auto; */
		/* padding: 280px 0 170px; */
	}

	#section1 .intro {
		/* margin: 100px 0; */
    padding-top: 5em;
    padding-bottom: 55em;
	}

	#section1 .intro h3 {
		font-size: 24px; font-size: 2.4rem;
		line-height: 24px;
	}

	.section .content {
	    margin-top: 50px;
	}

	.container-fluid {
	    padding-left: 105px;
	    padding-right: 105px;
    }


}

@media screen and (max-width: 979px) {

	.section h2 {
	    font-size: 48px; font-size: 4.8rem;
	    line-height: 58px;
	}

	.section .title hr {
	    margin-top: 40px;
	}

	.section .desc .span8 {
    	width: 100%;
	}

	#section1 .intro h1 {
/*		font-size: 70px;
		font-size: 7.0rem;
		line-height: 70px;
		color: rgba(77, 213, 180, 0.60);
		-webkit-text-stroke-width: 1px;*/
	    font-size: 7.5rem;
	    line-height: 70px;
      color: white;
	    /* color: rgb(201, 158, 120);
	    -webkit-text-stroke-width: 1.5px;
	    -webkit-text-stroke-color: rgb(214, 79, 111);
	    text-shadow: -3px 2px 0 rgba(233, 142, 43, 0.97),
			 		 -1px -1px 0px rgba(228, 42, 42, 0.82),
					  0px -1px 0 rgba(231, 61, 61, 0.84),
					 -1px 1px 0 #E62A2A, 1px 1px 0 #F32222; */
	}

	#section1 .intro h3 {
		font-size: 22px; font-size: 2.2rem;
		line-height: 22px;
	}

	#section5 .content .span4 {
		padding-right: 0px;
	}

	.container-fluid {
	    padding-left: 75px;
	    padding-right: 75px;
	}

}

@media screen and (min-width: 768px) and (max-width: 979px) {

	#section1 .intro h3 {
		width: 85%;
	}

	#section2 .content .expand {
		width: 48.6188%;
	}

	#section4 .content .expand {
		width: 100%;
	}

}


@media (max-width: 767px) {

	body {
		padding: 0px;
	}

	.section {
		padding: 70px 0 200px;
	}

	.section .content {
	    margin-top: 0;
	}

	.section .content .pull-right {
    	float:left;
    }

	.section h4 {
		margin-top: 30px;
	}

	.section .title hr {
		margin-left: 0px;
	}

	#section1 {
		/* background-size: 1150px auto;
		background-position-x: 40%; */
	}

	#section1 .intro {
		/* margin: 120px 0; */
    font-size: 1em;
    padding-top: 10em;
    padding-bottom: 55em;
	}

	#section1 .intro h3 {
		width: 55%;
	}

	#section3 .content img {
    	margin-top: 30px;
    	padding: 1.5%;
    }

    #section3 .table th, #section3 .table td {
    	font-size: 13px; font-size: 1.3rem;
	}

	#section3 .table {
		margin-top: 30px;
	}

    #section5 .span8 {
	    margin-top: 30px;
    }


}

@media screen and (min-width: 481px) and (max-width: 649px) {

	#section1 .intro h1 {
/*		font-size: 60px;
		font-size: 6rem;
		line-height: 60px;
		color: rgba(77, 213, 180, 0.6);
		-webkit-text-stroke-width: 1px;*/
	    font-size: 6rem;
	    line-height: 60px;
	    /* color: rgb(201, 158, 120);
	    -webkit-text-stroke-width: 1.5px;
	    -webkit-text-stroke-color: rgb(214, 79, 111);
	    text-shadow: -3px 2px 0 rgba(233, 142, 43, 0.97),
			 		 -1px -1px 0px rgba(228, 42, 42, 0.82),
					  0px -1px 0 rgba(231, 61, 61, 0.84),
					 -1px 1px 0 #E62A2A, 1px 1px 0 #F32222; */
	}

	#section1 .intro h3 {
		font-size: 20px; font-size: 2rem;
	}

}

@media screen and (min-width: 481px) {

	#section1 {
		background-image: url(../img/teal-guitar.jpg);
		/* background-position-y: 100%; */
    padding: inherit;
	}

	.bandcamp {
		border: 0;
		width: 400px;
		height: 869px;
		/* webkit-box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .6);
		box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .6); */
		margin-bottom:25px;
		display: block;
	}

	.bandcampsmall{
		display: none;

	}


	#bandsintown{
		padding-bottom: 25px;
		 padding-left: 25px
	}
}

@media screen and (max-width: 480px) {

	h1, h2, h3, h4, h5, h6 {
	font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-style: normal;
	}

	.section{
		padding: 70px 0 10px;
	}

	#section1 {
	    background-size: 550px;
      background-image: url('../img/teal-guitar.jpg');
	    padding-top: 1em;
      padding-bottom: 43em;
	}

	#section1 .intro {
		margin: 0px;
    padding: 0;
    /* padding-top: 10em;
		padding-bottom:55em; */
	}

	#section1 .intro h1 {
	    font-size: 7rem;
	  /*  line-height: 20px;*/
		text-align: center;
    color: white;
	}

	#section1 .intro h3 {
		font-size: 22px; font-size: 2.2rem;
		line-height: 24px;
		width: 100%;
	}

	#section1 .thumb {
	    display: block;
	    margin-left: 3%;
		padding:10%;
	}

	#section2{
	padding: 70px 0 160px;

	}

	#section3 .table th, #section3 .table td {
    	font-size: 11px; font-size: 1.1rem;
	}

	#musicrow{
	display:none;
	}
	.bandcamp{
		display:none;
	}
	.bandcampsmall {
		border: 0;
		width: 200px;
		height: 342px;
    padding: 2em 0;
		/* webkit-box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .6);
		box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .6); */
		margin-bottom:25px;
		display: block;
	}

	#bandsintown{
		padding-left: 0px;
	}

	#section4 h4 {
	    height: auto;
	}


}

/*MightySlider */

.mightyslider_carouselModern_skin {
	position: relative;
}

.mightyslider_carouselModern_skin .frame .slide_element.dragged {
	cursor: url(closedhand.cur),default;
}

/* Navigation Buttons */
.mightyslider_carouselModern_skin .mSButtons {
	position: absolute;
	background: url('arrows_horizontal.png') no-repeat 50%;
	width: 100px;
	height: 100%;
	margin: auto;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 1000;

	-webkit-transition: opacity 0.3s;
		-ms-transition: opacity 0.3s;
		 -o-transition: opacity 0.3s;
			transition: opacity 0.3s;
}

.mightyslider_carouselModern_skin:hover .mSButtons {
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.mightyslider_carouselModern_skin.vertical .mSButtons {
	width: 100%;
	height: 100px;
	background-image: url('arrows_vertical.png');
}

.mightyslider_carouselModern_skin .mSButtons:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.mightyslider_carouselModern_skin.horizontal .mSNext {
	top: 0;
	bottom: 0;
	right: 0;
	background-position: -100px 50%;
}

.mightyslider_carouselModern_skin.horizontal .mSPrev {
	top: 0;
	bottom: 0;
	left: 0;
	background-position: 0 50%;
}

.mightyslider_carouselModern_skin.vertical .mSNext {
	left: 0;
	right: 0;
	bottom: 0;
	background-position: 50% -100px;
}

.mightyslider_carouselModern_skin.vertical .mSPrev {
	left: 0;
	right: 0;
	top: 0;
	background-position: 50% 0;
}

.mightyslider_carouselModern_skin .mSButtons.disabled {
	display: none;
}

.mightyslider_carouselModern_skin .mSIcon {
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	*left: 43%;
	*top: 43%;
	z-index: 1000;
}

.mightyslider_carouselModern_skin .mSLoader {
	width: 64px;
	height: 64px;
	background: #000 url('loader.gif') no-repeat center;
	opacity: 0.8;
	filter: alpha(opacity=80);

	-webkit-border-radius: 4px;
	        border-radius: 4px;
}

.mightyslider_carouselModern_skin .mSLoader ~ .mSIcon {
	display: none;
}

.mightyslider_carouselModern_skin .mSVideo, .mightyslider_carouselModern_skin .mSFlash {
	width: 64px;
	height: 64px;
	background: url('icon-play.png') no-repeat 50%;
	background-color: #111;
	background-color: rgba(0,0,0,0.6);
	cursor: pointer;
	overflow: hidden;

	-webkit-border-radius: 4px;
	        border-radius: 4px;

	-webkit-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.mightyslider_carouselModern_skin .mSVideo:hover, .mightyslider_carouselModern_skin .mSFlash:hover {
	background-color: #000;
	background-color: rgba(0,0,0,0.8);
}

.mightyslider_carouselModern_skin .mSLink {
	width: 64px;
	height: 64px;
	cursor: pointer;
	background: url('icon-magnify.png') no-repeat 50%;
	background-color: #111;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 100;

	-webkit-border-radius: 4px;
	        border-radius: 4px;

	-webkit-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.mightyslider_carouselModern_skin .frame .slide_element .slide:hover .mSLink {
	opacity: 1;
	filter: alpha(opacity=100);
}

.mightyslider_carouselModern_skin .mSLink:hover {
	background-color: rgba(0,0,0,0.8);
	background-color: #000;
}

.mightyslider_carouselModern_skin .mSClose {
	width: 23px;
	height: 23px;
	background: #000 url('icon-close.png') no-repeat center;
	cursor: pointer;
	top: 10px;
	right: 15px;
	left: auto;
	bottom: auto;
	border: 1px solid #FFF;
	border: 1px solid rgba(255,255,255,0.8);
	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
	        box-shadow: 0 0 0 1px rgba(0,0,0,0.3);

	-webkit-transition: all 135ms linear;
	   -moz-transition: all 135ms linear;
        -ms-transition: all 135ms linear;
         -o-transition: all 135ms linear;
		    transition: all 135ms linear;
}

.mightyslider_carouselModern_skin .mSClose:hover {
	background-color: #d94947;
}

.mightyslider_carouselModern_skin:hover .mSClose {
	opacity: 1;
	filter: alpha(opacity=100);
}

.mightyslider_carouselModern_skin ul.pages {
	list-style: none;
	padding: 0;
	margin: 1px 0;
	height: 10px;
}

.mightyslider_carouselModern_skin ul.pages li {
	float: left;
	width: 10px;
	height: 10px;
	cursor: pointer;
	margin-left: 10px;
	background: #CCC;
	text-indent: -9999px;
}

.mightyslider_carouselModern_skin ul.pages li.active {
	background: #04f;
	width: 12px;
	height: 12px;
	margin-left: 9px;
	margin-top: -1px;
}


/* More MightySlider stuff */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:400,300,700);


@-webkit-keyframes ribbon {
	from {
		background-position:0 bottom;
	}
	to {
		background-position:1600px bottom;
	}
}
@-moz-keyframes ribbon {
	from {
		background-position:0 bottom;
	}
	to {
		background-position:1600px bottom;
	}
}
@-ms-keyframes ribbon {
	from {
		background-position:0 bottom;
	}
	to {
		background-position:1600px bottom;
	}
}
@-o-keyframes ribbon {
	from {
		background-position:0 bottom;
	}
	to {
		background-position:1600px bottom;
	}
}
@keyframes ribbon {
	from {
		background-position:0 bottom;
	}
	to {
		background-position:1600px bottom;
	}
}

@-webkit-keyframes mightyH1 {
	from {
		top: -60px;
		opacity: 0;
		-webkit-transform: translateZ(-200px) rotateY(-90deg);
	}
	to {
		top: 0;
		opacity: 1;
		-webkit-transform: translateZ(0) rotateY(0deg);
	}
}
@-moz-keyframes mightyH1 {
	from {
		top: -60px;
		opacity: 0;
		-moz-transform: translateZ(-200px) rotateY(-90deg);
	}
	to {
		top: 0;
		opacity: 1;
		-moz-transform: translateZ(0) rotateY(0deg);
	}
}
@-ms-keyframes mightyH1 {
	from {
		top: -60px;
		opacity: 0;
		-ms-transform: translateZ(-200px) rotateY(-90deg);
	}
	to {
		top: 0;
		opacity: 1;
		-ms-transform: translateZ(0) rotateY(0deg);
	}
}
@-o-keyframes mightyH1 {
	from {
		top: -60px;
		opacity: 0;
		-o-transform: translateZ(-200px) rotateY(-90deg);
	}
	to {
		top: 0;
		opacity: 1;
		-o-transform: translateZ(0) rotateY(0deg);
	}
}
@keyframes mightyH1 {
	from {
		top: -60px;
		opacity: 0;
		transform: translateZ(-200px) rotateY(-90deg);
	}
	to {
		top: 0;
		opacity: 1;
		transform: translateZ(0) rotateY(0deg);
	}
}

@-webkit-keyframes mightyOther {
	from {
		bottom: -60px;
		opacity: 0;
		-webkit-transform: translateZ(-500px) rotateY(90deg);
	}
	to {
		bottom: 0;
		opacity: 1;
		-webkit-transform: translateZ(0) rotateY(0deg);
	}
}
@-moz-keyframes mightyOther {
	from {
		bottom: -60px;
		opacity: 0;
		-moz-transform: translateZ(-500px) rotateY(90deg);
	}
	to {
		bottom: 0;
		opacity: 1;
		-moz-transform: translateZ(0) rotateY(0deg);
	}
}
@-ms-keyframes mightyOther {
	from {
		bottom: -60px;
		opacity: 0;
		-ms-transform: translateZ(-500px) rotateY(90deg);
	}
	to {
		bottom: 0;
		opacity: 1;
		-ms-transform: translateZ(0) rotateY(0deg);
	}
}
@-o-keyframes mightyOther {
	from {
		bottom: -60px;
		opacity: 0;
		-o-transform: translateZ(-500px) rotateY(90deg);
	}
	to {
		bottom: 0;
		opacity: 1;
		-o-transform: translateZ(0) rotateY(0deg);
	}
}
@keyframes mightyOther {
	from {
		bottom: -60px;
		opacity: 0;
		transform: translateZ(-500px) rotateY(90deg);
	}
	to {
		bottom: 0;
		opacity: 1;
		transform: translateZ(0) rotateY(0deg);
	}
}
@-webkit-keyframes head {
	from {
		background-position: 0 -160px;
	}
	to {
		background-position: 0 0;
	}
}
@-moz-keyframes head {
	from {
		background-position: 0 -160px;
	}
	to {
		background-position: 0 0;
	}
}
@-ms-keyframes head {
	from {
		background-position: 0 -160px;
	}
	to {
		background-position: 0 0;
	}
}
@-o-keyframes head {
	from {
		background-position: 0 -160px;
	}
	to {
		background-position: 0 0;
	}
}
@keyframes head {
	from {
		background-position: 0 -160px;
	}
	to {
		background-position: 0 0;
	}
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	padding-top: 0;
	padding-bottom: 0px;
	color: #5a5a5a;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	outline: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.btn {
	-webkit-border-radius: 0 !important;
	        border-radius: 0 !important;
	background-image: none !important;
}

.alert-info {
	margin-top: 30px;
}

a.backtotop {
	display: none;
	position: fixed;
	margin: auto;
	bottom: 0;
	right: 20px;
	text-align: center;
	background: #C00;
	color: #FFF;
	text-transform: uppercase;
	padding: 6px 15px;
	text-decoration: none;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;

	-webkit-border-radius: 3px 3px 0 0;
	        border-radius: 3px 3px 0 0;
}

a.back-to-top {
	display: none;
	text-align: center;
	background: #C66;
	color: #FFF !important;
	border: 0 !important;
	text-transform: uppercase;
	text-shadow: none;
}

a.back-to-top:hover {
	background: #C33 !important;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper, .navbar {
  position: fixed;
  background-color: #fff;
  background-image: none;
  z-index: 1035;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  width: 100%;
  height: 50px;
	-webkit-box-shadow:0 2px 5px rgba(0,0,0,.2);
	box-shadow:0 2px 5px rgba(0,0,0,.2);
}

.navbar-collapse {
	max-height: none;
}

.navbar, .navbar .container  {
  margin-bottom: 0;
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner, .navbar .container {
	-webkit-border-radius: 0;
	border-radius: 0;
	background-color: #fff;
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	filter: none;
	position: relative;
	border: 0;
	width: 100%;
	max-width: none;
	margin: 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/* Downsize the brand/project name a bit */
.navbar .brand, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
	font-size: 26px;
	font-family: Lato;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #ddd;
	color: #d13636;
	letter-spacing: -2px;
}
.navbar .brand strong, .navbar-default .navbar-brand strong {
	font-weight: 300;
	color: #444;
}

.navbar .nav.pull-right {
	margin-right: 20px;
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a, .navbar .navbar-nav > .active > a {
	padding: 15px 20px;
}


#ribbon{
	height:3px;
	background-color:#d13636;
	background-color:rgba(221,60,77,.95);
	background-image:-webkit-gradient(linear,0 50%,100% 50%,color-stop(0,#e75239),color-stop(12.5%,#e75239),color-stop(12.5%,#ff961c),color-stop(25%,#ff961c),color-stop(25%,#ffcc27),color-stop(37.5%,#ffcc27),color-stop(37.5%,#fce62f),color-stop(50%,#fce62f),color-stop(50%,#cde35b),color-stop(62.5%,#cde35b),color-stop(62.5%,#82cc33),color-stop(75%,#82cc33),color-stop(75%,#41bece),color-stop(87.5%,#41bece),color-stop(87.5%,#049cdb),color-stop(100%,#049cdb));
	background-image:-webkit-linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-image:-moz-linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-image:-o-linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-image:-ms-linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-image:linear-gradient(left,#e75239 0,#e75239 12.5%,#ff961c 12.5%,#ff961c 25%,#ffcc27 25%,#ffcc27 37.5%,#fce62f 37.5%,#fce62f 50%,#cde35b 50%,#cde35b 62.5%,#82cc33 62.5%,#82cc33 75%,#41bece 75%,#41bece 87.5%,#049cdb 87.5%,#049cdb 100%);
	background-position:0 0;
	background-size:1600px;
	width:100%;
	bottom:0;
	left:0;
	position:absolute;
	-webkit-animation: ribbon 10s linear infinite;
	-moz-animation: ribbon 10s linear infinite;
	-ms-animation: ribbon 10s linear infinite;
	-o-animation: ribbon 10s linear infinite;
	animation: ribbon 10s linear infinite;
}


.mobile #ribbon{
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
	animation: none;
}

.bs-docs-social {
	border-top-color: #ddd;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.masthead {
	padding-top: 130px;
	padding-bottom: 80px;
	color: #000;
	text-align: center;
	background: url('../img/graphy.png');
	-webkit-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;

	-webkit-animation: head 2s linear infinite;
	-moz-animation: head 2s linear infinite;
	-ms-animation: head 2s linear infinite;
	-o-animation: head 2s linear infinite;
	animation: head 2s linear infinite;
}
.masthead_mini {
	padding-top: 60px;
	padding-bottom: 20px;
}
.mobile .masthead {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
	animation: none;
}
.masthead > div {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.masthead p {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.25;
	text-transform: uppercase;
	color: #505050;
	text-shadow: 0 1px 0 white;
	position: relative;
	margin-top: 20px;
	word-spacing: 3px;

	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);

	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	        backface-visibility: hidden;

	-webkit-animation: mightyOther 0.6s ease both;
	-webkit-animation-delay: 0.6s;
	   -moz-animation: mightyOther 0.6s ease both;
	   -moz-animation-delay: 0.6s;
	    -ms-animation: mightyOther 0.6s ease both;
	    -ms-animation-delay: 0.6s;
	     -o-animation: mightyOther 0.6s ease both;
	     -o-animation-delay: 0.6s;
	        animation: mightyOther 0.6s ease both;
	        animation-delay: 0.6s;
}

.masthead .btn {
	padding: 11px 19px;
	line-height: 27px;
	margin-bottom: 10px;
}

.masthead .btn [class^="icon-"] {
	margin-top: 7px;
}

.masthead {
}

.masthead h1 {
	font-size: 90px;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	text-transform: uppercase;
	text-shadow: 3px 3px 0 white;
	font-weight: 400;
	letter-spacing: -6px;
	position: relative;
	word-spacing: 0.3em;

	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);

	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	        backface-visibility: hidden;

	-webkit-animation: mightyH1 1s ease both;
	-webkit-animation-delay: 0.2s;
	   -moz-animation: mightyH1 1s ease both;
	   -moz-animation-delay: 0.2s;
	    -ms-animation: mightyH1 1s ease both;
	    -ms-animation-delay: 0.2s;
	     -o-animation: mightyH1 1s ease both;
	     -o-animation-delay: 0.2s;
	        animation: mightyH1 1s ease both;
	        animation-delay: 0.2s;
}

.masthead h1 span {
	font-weight: 300;
}


.masthead h1 sup {
	font-size: 14px;
	line-height: 34px;
	text-transform: lowercase;
	text-shadow: 0 1px 0 white;
	font-weight: 700;
	letter-spacing: 0;
	vertical-align: top;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .marketing-byline {
	text-align: center;
}
.marketing .span4 {
	margin-left: 0;
	margin-bottom: 50px;
	padding: 0 10px;
}
.marketing .span4 h2 {
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	text-transform: uppercase;
	border-bottom: 1px solid #e4e4e4;
}
.marketing .marketing-byline.left {
	text-align: left;
	margin-top: -50px;
}
.marketing h1 {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
.marketing h1 strong {
	font-weight: 400;
}
.marketing h1.normal {
	font-weight: 400;
	word-spacing: 12px;
}
.marketing h1.normal small {
	word-spacing: 7px;
}
.marketing h1.normal small p {
	text-align: center;
	word-spacing: 4px;
	letter-spacing: 0;
}
.marketing h1.normal sup {
	font-size: 55%;
	top: -1em;
}
.marketing h1.normal sup, .marketing h1.normal sup * {
	word-spacing: normal;
}
.marketing p, .hero-unit {
	text-align: left;
}


/* Featurettes
------------------------- */

.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette-divider2 {
	margin: 80px 0 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
	overflow: hidden; /* Vertically center images part 2: clear their floats. */
	text-align: left;
}
.featurette-image {
	margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
	margin-right: 40px;
}
.featurette-image.pull-right {
	margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 50px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
	margin-bottom: 60px !important;
	text-transform: uppercase;
}

.thumbnail > img {
	margin: 0 auto;
}

.featurette2 {
	margin-top: 50px;
}

.featurette .controls { margin: 50px 0 0; text-align: center; }
.featurette .controls.marginbottom { margin: 0; margin-bottom: 30px; text-align: center; }
.featurette .controls .divider { display: inline-block; margin: 0 3px; }
.featurette .controls button {text-align: center; width: 90px; position: relative; margin: 0 -2px 0 -3px; padding: 0 6px; height: 24px; line-height: 22px; vertical-align: middle; font-family: Novecento, sans-serif; font-size: 11px; text-transform: uppercase; }
.featurette .controls button i { position: relative; top: -1px; margin: 0; padding: 0;  vertical-align: middle; }
.featurette .controls button:hover { z-index: 10; }
.featurette .controls button:disabled, .featurette .controls button.disabled { opacity: .2; }

/* Pages */
.pages_ {
	list-style: none;
	margin: 30px 0 -25px 0;
	padding: 0;
	text-align: center;
}
.pages_ li {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	text-indent: -999px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	/* border: solid 2px #fd6a62; */

	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.pages_ li:hover {
	background: #eee;
}
.pages_ li.active {
	background: #ffa400;
}
.simple_carousel {
	width: 100%;
}
.simple_carousel .frame {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 234px;
	overflow: hidden;
	text-shadow: none;
}
.simple_carousel .frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 234px;
}
.simple_carousel .frame ul li {
	float: left;
	width: 233px;
	height: 234px;
	margin: 0 1px 0 0;
	padding: 0;
	background: #eee;
	color: #3a3c47;
	text-align: center;
	cursor: pointer;
	line-height: 234px;
	font-size: 40px;

	-webkit-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	   -moz-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
		-ms-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
			transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.simple_carousel .frame ul li.active {
	color: #fff;
	background: #fd6a62;
	font-size: 90px;
	text-shadow: 0 0 10px #FFF;
}



/* General grid styles */
.main {
	width: 90%;
	padding: 1em;
	margin: 0 auto;
}

.cbp-ig-grid {
	list-style: none;
	padding: 0 0 50px 0;
	margin: 0;
}

/* Clear floats */
.cbp-ig-grid:before,
.cbp-ig-grid:after {
	content: " ";
	display: table;
}

.cbp-ig-grid:after {
	clear: both;
}

/* grid item */
.cbp-ig-grid li {
	width: 33%;
	float: left;
	text-align: center;
	border-top: 1px solid #dadada;
}

/* we are using a combination of borders and box shadows to control the grid lines */
.cbp-ig-grid li:nth-child(-n+3){
	border-top: none;
}

.cbp-ig-grid li:nth-child(3n),
.cbp-ig-grid li:nth-child(3n - 1) {
	border-left: 1px solid #dadada;
}

/* anchor style */
.cbp-ig-grid li > a {
	display: block;
	height: 100%;
	background: #eee;
	color: #049cdb;
	padding: 30px 0;
	font-size: 1.8em;
	text-decoration: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

/* Hover styles */

.cbp-ig-grid li > a:hover {
	background: #049cdb;
	color: #FFF;
}

ul.presets-container {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 40px;
	text-align: center;
}
ul.presets-container li {
	display: inline-block;
	width: 72px;
	height: 72px;
	margin-right: 20px;
	padding: 5px;
	cursor: pointer;
	background: #FFF;

	-webkit-border-radius: 50%;
	        border-radius: 50%;

	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
ul.presets-container li .preset {
	width: 100%;
	height: 100%;
	border: #DDD 1px solid;

	-webkit-box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.15) inset, 0 5px 20px rgba(255, 255, 255, 0.4) inset;
	        box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.15) inset, 0 5px 20px rgba(255, 255, 255, 0.4) inset;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;

	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
ul.presets-container li.active {
	padding: 5px;

	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) inset;
}
ul.presets-container li.active .preset {
	border-color: #BBB;
}

.bs-sidenav {
	background-color: #f4f4f4;
}

.bs-sidebar .nav > li > a:hover, .bs-sidebar .nav > li > a:focus {
	background-color: #e4e4e4;
	border-right: 1px solid #d7d7d7;
}

.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
	color: #333;
	border-right: 1px solid #666;
}

ul li div.key {
	margin-bottom: 10px;
}

a.code {
	text-decoration: underline;
	color: #c7254e;;
}

a.code:hover {
	text-decoration: none;
}

code {
	background: #ECECEC;
	padding: 2px 8px;
}

code.property {
	display: inline-block;
	border: 1px solid #e1e1e8;
	background-color: #f7f7f9;
	height: 23px;
	line-height: 17px;
}

code.type {
	font-weight: bold;
}

.key code.type {
	display: inline-block;
	float: right;
	margin-left: 10px;
	height: 23px;
	line-height: 19px;
}

code.type.string { background: #e1edb1; color: #3d4c00 }
code.type.object  { background: #edb1b1; color: #4c0000 }
code.type.array  { background:  #edd5b1; color: #4c2d00 }
code.type.number  { background: #b1c9ed; color: #001e4c }
code.type.boolean  { background: #b1edc9; color: #004c1e }
code.type.function  { background: #cfb1ed; color: #26004c }
code.type.dot ,
code.type.htmlelement  { background: #ccc; color: #c00 }

span.default {
	display: inline-block;
	float: right;
	border-right: 1px solid #e1e1e8;
	margin-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
	color: #999;
	line-height: normal;
}

span.default code {
	display: inline-block;
	height: 23px;
	line-height: 19px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 1200px) {
	.cbp-ig-grid li {
		width: 49.5%;
		border-top: 1px solid #dadada !important;
	}

	.cbp-ig-grid li:nth-child(-n+2){
		border-top: none !important;
	}

	.cbp-ig-grid li:nth-child(2n) {
		border-left: 1px solid #dadada !important;
	}

	.cbp-ig-grid li:nth-child(2n + 1) {
		border-left: 0 !important;
	}
}

@media (max-width: 979px) {

	.masthead {
		padding-top: 70px;
		padding-bottom: 50px;
	}

	.navbar-wrapper, .navbar {
		position: relative;
		height: auto;
	}

	.container.navbar-wrapper {
		margin-bottom: 0;
		width: auto;
	}
	.navbar-inner {
		border-radius: 0;
	}

	.featurette {
		height: auto;
		padding: 30px 0 0px;
	}
	.featurette-image.pull-left,
	.featurette-image.pull-right {
		display: block;
		float: none;
		max-width: 40%;
		margin: 0 auto 20px;
	}

	.featurette2 {
		margin-top: 20px;
	}

	ul.presets-container li {
		width: 50px;
		height: 50px;
	}
	.main {
		width: 100%;
		padding: 0;
	}
	.cbp-ig-grid li {
		width: 70%;
		float: none;
		margin: 0 auto;
		display: block;
		text-align: center;
		border: 0 !important;
	}
}


@media (max-width: 767px) {

  .bandcamp{
    /* margin: auto; */
    margin: 2em auto;
  }

	.masthead {
		margin: 0 -20px;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 70px;
		padding-bottom: 50px;
	}

	.navbar-wrapper {
		margin: 0 -20px;
	}

	.masthead h1 {
		font-size: 45px;
	}

	.masthead p {
		font-size: 14px;
	}

	.featurette-heading {
		font-size: 30px;
	}
	.featurette .lead {
		font-size: 18px;
		line-height: 1.5;
	}

	.marketing .marketing-byline {
		font-size: 14px;
	}

	.marketing p, .hero-unit {
		font-size: 14px;
	}

	.hero-unit {
		padding: 30px;
	}

	.featurette2 {
		margin-left: -20px;
		margin-right: -20px;
	}

	.featurette_full {
		margin: 0 -20px;
	}

	ul.presets-container li {
		width: 40px;
		height: 40px;
	}
	.cbp-ig-grid li {
		width: 100%;
	}

}

/* Video Showcase */
#video_showcase {

									}
									#video_showcase .frame {
										width: 100%;
										padding: 10px 0 170px 0;
									}
									#video_showcase .frame ul {
										position: relative !important;
										list-style: none;
										height: 100%;
										padding: 0;
										margin: 0;
									}
									#video_showcase .frame ul li {
										float: left;
										height: 100%;
										margin-right: 80px;

										-webkit-box-sizing: border-box;
										   -moz-box-sizing: border-box;
												box-sizing: border-box;

										/* -webkit-box-shadow: 0 38px 30px -18px rgba(0, 0, 0, .6);
												box-shadow: 0 38px 30px -18px rgba(0, 0, 0, .6); */
									}
									#video_showcase .frame ul li .mSCover {
										border: #666 1px solid;
										border: rgba(0,0,0,0.3) 1px solid;
										margin-left: -1px;

										-webkit-border-radius: 5px;
												border-radius: 5px;
									}
									#video_showcase .frame ul li img {
										max-width: none;
									}
									#video_showcase .details {
										width: 100%;
										position: absolute;
										bottom: 30px;
										text-align: center;
										color: #666;
										font-size: 16px;
										font-weight: 300;
									}
									#video_showcase .details > div {
										display: inline-block;
										background: #FFF;
										padding: 10px 20px;
										max-width: 60%;

										-webkit-border-radius: 4px;
												border-radius: 4px;

										/* -webkit-box-shadow: 0 25px 7px -18px rgba(0, 0, 0, .3);
												box-shadow: 0 25px 7px -18px rgba(0, 0, 0, .3); */
									}
									#video_showcase .details #title {
										color: #000;
										font-weight: 400;
										margin-bottom: 10px;
									}
									@media (max-width: 767px) {
										#video_showcase .frame {
											padding: 0px 0 50px;
										}
										#video_showcase .details {
											display: none;
										}
									}
